.keyboard_row {
	float: left;
	text-align: center;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	clear: both;
	padding-top: 5px;
	padding-left: 5px;
	margin-left: 14vh;
}

.key {
  font-family: 'Montserrat';
  font-size: 20px;
  display: inline-block;
  width: 100px; height:100px;
  display:block;
  background-color:#333;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  float:left; margin-left: 2px;
  margin-bottom:2px;
  color: white;
  text-align: left;
  margin-left: 5px;
  border-radius: 10px;
  border: 2px solid black;
}
html{
	background-color: grey;
}

input[type="text"] {
	min-height: 100px;
	min-width: 300px;
	justify-content: center;
	align-items: center;
	margin: 20px;
	border-radius: 10px;
	font-family: 'Montserrat';
	font-size: 64px;
	padding-left: 50px;
	margin-left: 50vh;
	margin-top: 10vh;
}

.large {
	min-width: 200px;
}

.submitDiv {
	justify-content: center;
	margin-left: 68vh;
}

.submit {
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 20px;
}

html {
	background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
}

.numberKey {
	margin-left: 120px;
}

.numberKey2 {
	margin-left: 240px;
}

.numberKey3 {
	margin-left: 258px;
}

.numberKey4 {
	margin-left: 545px;
}

.key:active {
	transform:scale(1.1);
	border-color:#ffc600;
	box-shadow: 0 0 10px #ffc600;
}